.git
_legacy
vendor
node_modules
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/uploads/*
!storage/app/uploads/.gitkeep
.env
.env.*
!.env.example
*.md
.DS_Store
.idea
.vscode
